
/*Font chữ*/
body {
  font-family: sans-serif;
	background-image : url(bg.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    height: 100px; 
    width:100%;
}
footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
/* định dạng thanh menu*/
#menu ul {
  background: #1F568B; /*màu sắc*/
   /*bỏ các dấu chấm đầu dòng*/
  text-decoration: none;
  text-align: center; /*căn giữa*/
}

#menu li {
  display: inline-block; /*định dạng cho các tab của menu nằm ngang*/
  /*kích thước mỗi ô tab*/
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

#menu a {
  text-decoration: none; /*bỏ gạch chân của text*/
  color: #fff; /*màu chữ*/
  display: inline-block;
}
/*định dạng menu khi rê chuột*/
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
/*định dạng ảnh*/
.img img{
  float:left;
  margin-right: 30px;
<<<<<<< HEAD
  margin-left: 30%;
}

<<<<<<< HEAD
#leftmenu a {text-decoration: none; display:block;line-height: 20px; padding: 2px 1px 1px 16px;}

.topmenu{background-color:#4B66A0;}
.bgleftmenu{background-color: #E9EAED; width:20%; height: 100%; display:inline-block; float:left}
a:hover{background-color:#DDDDDD;}
#leftmenu a {text-decoration: none; display:block;line-height: 20px; padding: 1px 1px 1px 16px;}
  margin-left: 33%;
}



#wrapper{
  height:100%;
  padding-left: 20px;
  padding-top: 20px;

}

#Thongtin
  {
    margin: auto;
    float:left;
    margin-left: -15;
    margin-right: 15;
  }

/*==Footer==*/
#footer {
 font-size: 85%;
 border-top: 1px solid #E6E6E6;
 color: #838383;
 padding: 1em 3em;
 margin-left: 39em;
}
