
/*Font chữ*/
body {
  font-family: sans-serif;
	background-image : url(bg.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    height: 100px; 
    width:100%;
}
footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
/* định dạng thanh menu*/
#menu ul {
  background: #1F568B; /*màu sắc*/
   /*bỏ các dấu chấm đầu dòng*/
  text-decoration: none;
  text-align: center; /*căn giữa*/
}

#menu li {
  display: inline-block; /*định dạng cho các tab của menu nằm ngang*/
  /*kích thước mỗi ô tab*/
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

#menu a {
  text-decoration: none; /*bỏ gạch chân của text*/
  color: #fff; /*màu chữ*/
  display: inline-block;
}
/*định dạng menu khi rê chuột*/
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
/*định dạng ảnh*/
.img img{
  float:left;
  margin-right: 30px;
<<<<<<< HEAD
  margin-left: 30%;
}
.two-columns{
  padding: 1em;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}
.bgleftmenu{background-color: #E9EAED; width:20%; height: 100%; display:inline-block; float:left}

#leftmenu a {text-decoration: none; display:block;line-height: 20px; padding: 2px 1px 1px 16px;}

.topmenu{background-color:#4B66A0;}
